<!--include header-->
<%- include('include/_header')%>
<!--/include header-->

 <!--main-->
 <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/" class="text-gradient"><i class="fas fa-angle-double-left"></i>All Memories</a>
            </div>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">Update Memory</h2>
            <span class="text-light">Update the memory to leave a Real mark</span>
        </div>

        <%- include('include/_updateForm')%>

    </div>
</main>
<!--/main-->

<!--include footer-->
    <%- include('include/_footer')%>
<!--/include footerr-->